<ion-card class="adv-house" *ngFor="let house of houses | async">
    <!-- <div style="position: relative">
        <img src="">
        <ion-fab right top>
            <button ion-fab class="fab-house">
                <ion-icon name='share'></ion-icon>
            </button>
        </ion-fab>
    </div> -->
    <ion-card-content>
        <span>{{house.description}}</span>
    </ion-card-content>
    <ion-item>
        <ion-icon name="pin" item-start large></ion-icon>
        <h2>Endereço</h2>
        <p>{{house.address + ', ' + house.number + ' - ' + house.city}}</p>
    </ion-item>
    <ion-item actions>
        <button item-start ion-button clear icon-start (click)="delete(house)" color="danger">
            <ion-icon name='trash'></ion-icon>Excluir
        </button>
        <button item-end ion-button clear icon-start (click)="edit(house)">
            <ion-icon name='brush'></ion-icon>Editar
        </button>
    </ion-item>
</ion-card>