<ion-card *ngFor="let house of houses | async">
    <ion-item>
        <p>Novembro 22, 2017</p>
    </ion-item>
    <ion-card-content>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia doloremque reprehenderit, dolorem labore ea, ex
            similique, accusamus ducimus assumenda modi provident animi. Fugiat labore officia fugit ratione, iste minus
            inventore..
        </p>
    </ion-card-content>
    <ion-item>
        <button item-start ion-button clear icon-start (click)="delete(house)" color="danger">
            <ion-icon name='trash'></ion-icon>Excluir
        </button>
        <button item-end ion-button clear icon-start (click)="edit(house)">
            <ion-icon name='brush'></ion-icon>Editar
        </button>
    </ion-item>
</ion-card>