page-welcome {
    .splash-bg {
        position: relative;
        background: url('./../assets/img/splashbg.svg') no-repeat transparent;
        background-size: cover;
        height: 100%;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 15s linear infinite alternate-reverse;
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }

    .splash-info {
        position: relative;
        z-index: 2;
        text-align: center;
    }

    .splash-logo {
        margin: auto;
        margin-top: 20%;
        background: url('./../assets/img/appicon.svg') no-repeat transparent;
        background-size: 100%;
        width: 256px;
        height: 128px;
        animation: animatedLogo 0.5s linear infinite alternate-reverse;
    }

    @keyframes animatedLogo {
        from { background-position: 0 0; }
        to { background-position: 0 100%; }
    }

    .splash-intro {
        font-weight: bold;
        max-width: 80%;
        margin: auto;

        h1 {
            margin: 0;
        }

        h4 {
            font-weight: lighter;
            max-width: 95%;
            margin: auto;
        }
    }
}