page-welcome {
    .splash-bg {
        position: relative;
        background: url('./../assets/img/splashbg.svg') no-repeat transparent;
        background-size: cover;
        height: 100%;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 10s linear infinite alternate-reverse;
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }

    .splash-info {
        position: relative;
        z-index: 2;
        margin-top: -485px;
        text-align: center;
    }

    .splash-logo {
        margin: auto;
        background: url('./../assets/img/appicon.svg') no-repeat transparent;
        background-size: 100%;
        width: 256px;
        height: 256px;
    }

    .splash-intro {
        font-size: 18px;
        font-weight: bold;
        max-width: 90%;
        margin: auto;
        p {
            font-weight: lighter;
            max-width: 80%;
            font-size: 16px;
            margin: auto;
        }
    }
}